*{
    margin: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}

body{
    background-color: rgb(40, 39, 46);
}
.card{
    background-color:aqua;
    width:90%;
    max-width: 470px;
    color: #fff;
    margin: 30px auto 0;
    padding: 40px 35px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    border-radius:20px;
    text-align: center;
    margin-bottom: 90px;
}
.search{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}
.search input {
    width: 75%;
    height: 44px;
    border-radius: 17px;
    border: transparent;
    padding: 10px;
    margin: 5px;
    color: gray;
    font-size: larger;
}
.search button{
        width: 45px;
        height: 45px;
        border: transparent;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
}
.search button:hover{
    background-color:#d4e1e9
}
.search button img{
    width: 20px;
    margin-top: 5px;
}
.wether{
    margin: 5px;
    padding: 10px;
    /* background-color:#5b548a; */
    text-align: center;
}
.wether img{
    margin-bottom: 2px;
    width: 60%;
}
.wether h1{
    margin: 2px;
    font-weight: 200;

}
.wether h2{
    margin: 2px;
    font-weight: 200;
}
.details{
width: 100%;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
/* background-color:#5b548a; */
}
.details img{
    width: 30%;
}
.details h3{
    font-weight: 400;
}




